%footer.page-footer
  .container
    .row
      .col.l6.s12
        %h5.white-text Twitodo
        %p.grey-text.text-lighten-4 is an app allow you to manage tasks with mates.
      .col.l4.offset-l2.s12
        %h5.white-text Links
        %ul
          %li
            %a.grey-text.text-lighten-3{href: "#!"} Link 1
          %li
            %a.grey-text.text-lighten-3{href: "#!"} Link 2
          %li
            %a.grey-text.text-lighten-3{href: "#!"} Link 3
          %li
            %a.grey-text.text-lighten-3{href: "#!"} Link 4
