%footer.page-footer
  .container
    .row
      .col.l6.s1
        %h5.white-text Twitodo
        %p.grey-text.text-lighten-4 is an app allow you to manage tasks with mates.
      .col.l4.offset-l2.s1
        %h5.white-text Links
        %ul
          %li
            %a.grey-text.text-lighten-3{href: "https://github.com/akkt222/Twitodo"} Github
          %li
            %a.grey-text.text-lighten-3{href: "https://twitter.com/akkt222"} Twitter
          -# %li
          -#   %a.grey-text.text-lighten-3{href: "#!"} Link 3
          -# %li
          -#   %a.grey-text.text-lighten-3{href: "#!"} Link 4
