= render 'shared/header'

.container-index
  #demo-carousel-content.carousel.carousel-slider{"data-indicators" => "true"}
    %a.carousel-item{href: "#one!"}
      %img{src: "https://live.staticflickr.com/65535/49165881072_340c574c13_o.png"}/
    .carousel-fixed-item.center
      %h2.white-text How to use
      %a.btn.waves-effect.orange.lighten-3.black-text.darken-text-2{href: "/auth/twitter"} Login with Twitter
    %a.carousel-item{href: "#two!"}
      %img{src: "https://live.staticflickr.com/65535/49165881072_340c574c13_o.png"}/
    %a.carousel-item{href: "#two!"}
      %img{src: "https://live.staticflickr.com/65535/49165881072_340c574c13_o.png"}/

  -# .carousel.carousel-slider.center
  -#   .carousel-fixed-item.center
  -#     %a.btn.waves-effect.white.grey-text.darken-text-2 
  -#   .carousel-item.deep-orange.lighten-4.white-text{href: "#one!"}
  -#     %h2
  -#       %img{src: "https://live.staticflickr.com/65535/49165881072_340c574c13_o.png"}/
  -#       %p.white-text This is your first panel
  -#   .carousel-item.amber.white-text{href: "#two!"}
  -#     %h2 Second Panel
  -#     %p.white-text This is your second panel
  -#   .carousel-item.green.white-text{href: "#three!"}
  -#     %h2 Third Panel
  -#     %p.white-text This is your third panel
  -#   .carousel-item.blue.white-text{href: "#four!"}
  -#     %h2 Fourth Panel
  -#     %p.white-text This is your fourth panel


  :javascript
    $(document).ready(function(){
     $('#demo-carousel-content').carousel();
      $('.carousel.carousel-slider').carousel({
        fullWidth: true,
        indicators: true
      });
    });

= render 'shared/footer'

