= render 'shared/header'

.container-index
  .carousel-fixed-item.center
    = image_tag "top.png", size: "900x500"
    %p Links
    %a.btn.btn-large.waves-effect.orange.lighten-3.black-text.darken-text-2{href: "https://github.com/akkt222/Twitodo"} Github
    %a.btn.btn-large.waves-effect.orange.lighten-3.black-text.darken-text-2{href: "https://twitter.com/akkt222"} Twitter

  :javascript
    $(document).ready(function(){
     $('#demo-carousel-content').carousel();
      $('.carousel.carousel-slider').carousel({
        fullWidth: true,
        indicators: true
      });
    });

-# = render 'shared/footer'

