= render 'shared/header'

.row
  %form.col.s12
    .row
      .input-field.col.s12
        %textarea#textarea1.materialize-textarea
        %label{for: "textarea1"} リストの名前
  %form.col.s12
    .row
      .input-field.col.s12
        %textarea#textarea1.materialize-textarea
        %label{for: "textarea1"} ハッシュタグ
    %form.col.s12
    .row
      .input-field.col.s12
        %textarea#textarea1.materialize-textarea
        %label{for: "textarea1"} ユーザー(Twitter ID)
